.wall::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border: 2px solid black;
}

.dark .wall::before {
  border-color: rgb(148 163 184);
}

.wall.no-border-top::before {
  border-top-color: transparent;
}

.wall.no-border-bottom::before {
  border-bottom-color: transparent;
}

.wall.no-border-left::before {
  border-left-color: transparent;
}

.wall.no-border-right::before {
  border-right-color: transparent;
}

/* Mobile drag feedback */
